* {
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
}

.notification {
    background-color: #222222;
    border-radius: 10px;
    color: #ffffff;
    border: 1px solid #444444;
}

.control-center {
    background-color: #333333;
    border-radius: 10px;
    color: #ffffff;
}
